body {
     background-color: #f4f4f4;
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
   
}
/* ===== En-tête ===== */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}
/* ===== Menu de navigation ===== */
nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
/* ===== Galerie des chambres (version améliorée) ===== */

.galerie {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}
header h1{
    text-align: centre;
}
.carte {
    width: 250px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    transition: transition 0.3s;
}

.carte : hover{
    transform: scale(1.05);
}

.carte img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    bordrt-botton: 3px solid #ddd;
}

.carte h3 {
    margin-top: 10px 0 15px;
}

.carte p {
    padding: 0 10px 15px;
    color: #555;
}

.chambre {
   text-align: center;
   justify-content: center;
}
